body {
	display: flex;
	flex-direction: column;
	margin: 0;
	background-color: #D3D3D3;
	font-family: 'Ubuntu', sans-serif;
}

/*---------topNav---------------- */

header {
	display: flex;
	height: 100px;
	width: auto;
	background-color: #161A1D;
}

.hmLogo {
	display: flex;
	flex: 5;
}

img{
	max-width: 100%;
  	height: auto;
}

.topNav {
	display: flex;
	flex: 5;
}

#mynav li a:link{
	text-decoration: none;
	color: white;
}

#mynav li a:visited {
	color: white;
}

#mynav li a:hover {
	color: #A4161A;
}



#mynav {
	display: flex;
	align-self: center;
	width: 100%;
	justify-content: space-around;
	list-style-type: none;
}

#mynav li{
	font-size: 20px;
}
/*---------End of topNav------------ */
/*---------TOP INTRO---------------- */

section.topper {
	background-image: url(../images/outM.jpg);
	background-position: center;
	width: 100%;
	height: 750px;
}

.topper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 39px;
	color: #0B090A;
}
/*---------END OF TOP INTRO--------- */
/*---------BIO---------------- */

section.aboutMe {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 800px;
}

.bio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	width: 60%;
	height: 50%;
	padding: 0em 8em 0em 8em;
}

.myPic {
	display: flex;
	justify-content: center;
	width: 40%;
	height: 50%;
	padding: 0em 1em 0em 1em;
}
/*---------END OF BIO--------------- */
/*---------SKILLS---------------- */

h6 {
	text-align: center;
	font-size: 35px;
}

.skillsExp {
	padding: 0px 50px 50px 50px;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

#tsunami {
	background-image: url(../images/tsunami.jpeg);
	background-position: center;
	color:rgb(16, 14, 14);
}
/*---------END OF SKILLS------------ */

/*---------NEW SKILLS LAYOUT------------ */

.newProjectDisplay {
	background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: wrap;
	margin: 0;
	height: 100%;
  }

figure.snip1113 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px;
	min-width: 200px;
	max-width: 300px;
	width: 100%;
	background: #ffffff;
	text-align: center;
	box-shadow: 0 0 5px rbga(0, 0, 0, 0.15);
}

figure.snip1113 img {
	max-width: 90%;
	margin: 30px auto;
	display: block;
	position: relative;
	border: 5px solid #666666;
	padding: 10px 10px 65px 10px;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

figure.snip1113 figcaption {
	position: absolute;
	height: 100px;
	bottom: 0px;
	left: 0;
	right: 0;
	display: block;
}

figure.snip1113 h3 {
	background-color: #ffffff;
	color: #000000;
	font-size: 1.3em;
	width: 100%;
	padding: 5px 12px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
}
figure.snip1113 h3 span {
	font-weight: 800;
  }

figure.snip1113.red img {
	border-color: #ab3326;
  }
  
  figure.snip1113.red h3,
figure.snip1113.red h4 {
  color: #ab3326;
}




/*---------END OF NEW SKILL LAYOUT------------ */

/*---------CONTACT FORM------------- */
/*
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #BA181B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  align-self: center;
}
/*--------END OF CONTACT FORM------- */

/*--------END old CONTACT FORM------- */

.wrapper{
	width: 715px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.05);
  }
  .wrapper header{
	font-size: 22px;
	font-weight: 600;
	padding: 20px 30px;
	border-bottom: 1px solid #ccc;
  }
  .wrapper form{
	margin: 35px 30px;
  }
  .wrapper form.disabled{
	pointer-events: none;
	opacity: 0.7;
  }
  form .dbl-field{
	display: flex;
	margin-bottom: 25px;
	justify-content: space-between;
  }
  .dbl-field .field{
	height: 50px;
	display: flex;
	position: relative;
	width: calc(100% / 2 - 13px);
  }
  .wrapper form {
	position: absolute;
	top: 50%;
	left: 18px;
	color: #ccc;
	font-size: 17px;
	pointer-events: none;
	transform: translateY(-50%);
  }
  form .field input,
  form .message textarea{
	width: 100%;
	height: 100%;
	outline: none;
	padding: 0 18px 0 48px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #ccc;
  }
  .field input::placeholder,
  .message textarea::placeholder{
	color: #ccc;
  }
  .field input:focus,
  .message textarea:focus{
	padding-left: 47px;
	border: 2px solid #0D6EFD;
  }
  .field input:focus,
  .message textarea:focus{
	color: #0D6EFD;
  }
  form .message{
	position: relative;
  }
  form .message{
	top: 30px;
	font-size: 20px;
  }
  form .message textarea{
	min-height: 130px;
	max-height: 230px;
	max-width: 100%;
	min-width: 100%;
	padding: 15px 20px 0 48px;
  }
  form .message textarea::-webkit-scrollbar{
	width: 0px;
  }
  .message textarea:focus{
	padding-top: 14px;
  }
  form .button-area{
	margin: 25px 0;
	display: flex;
	align-items: center;
  }
  .button-area button{
	color: #fff;
	border: none;
	outline: none;
	font-size: 18px;
	cursor: pointer;
	border-radius: 5px;
	padding: 13px 25px;
	background: #0D6EFD;
	transition: background 0.3s ease;
  }
  .button-area button:hover{
	background: #025ce3;
  }
  .button-area span{
	font-size: 17px;
	margin-left: 30px;
	display: none;
  }
  @media (max-width: 600px){
	.wrapper header{
	  text-align: center;
	}
	.wrapper form{
	  margin: 35px 20px;
	}
	form .dbl-field{
	  flex-direction: column;
	  margin-bottom: 0px;
	}
	form .dbl-field .field{
	  width: 100%;
	  height: 45px;
	  margin-bottom: 20px;
	}
	form .message textarea{
	  resize: none;
	}
	form .button-area{
	  margin-top: 20px;
	  flex-direction: column;
	}
	.button-area button{
	  width: 100%;
	  padding: 11px 0;
	  font-size: 16px;
	}
	.button-area span{
	  margin: 20px 0 0;
	  text-align: center;
	}
  }
/*--------start New Working CONTACT FORM------- */

/*---------FOOTER---------------- */
